<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.dbon.blackandwhite.mapper.CartMapper" >
  <resultMap id="cartResult" type="Cart" >
    <result column="user_id" property="userId" />
    <result column="goods_id" property="goodsId" />
    <result column="update_time" property="updateTime" />
    <result column="count" property="count" />
  </resultMap>

  <resultMap id="goodsResult" type="Goods" >
    <result column="goods_id" property="goodsId" />
    <result column="code" property="code"  />
    <result column="name" property="name" />
    <result column="count" property="count"  />
    <result column="price" property="price"  />
    <result column="description" property="description"  />
    <result column="img_id" property="imgId"  />
    <result column="goods_status" property="goodsStatus" />
    <result column="user_id" property="userId"  />
    <result column="create_time" property="createTime"  />
    <result column="update_time" property="updateTime" />
    <result column="create_by" property="createBy"  />
    <result column="update_by" property="updateBy"  />
    <result column="is_delete" property="isDelete" />
    <result column="author" property="author" />
    <result column="publisher" property="publisher" />
  </resultMap>

  <sql id="selectCartVo" >
    SELECT user_id, goods_id, update_time, `count` FROM cart
  </sql>

  <select id="selectByUser" resultMap="goodsResult" parameterType="User" >
    SELECT
    g.goods_id, g.`code`, g.`name`, g.`count`, g.price, g.description, g.img_id, g.goods_status, g.user_id, g.create_time,
    g.update_time, g.create_by, g.update_by, g.is_delete, g.author, g.publisher
    FROM goods g JOIN cart c ON g.goods_id = c.goods_id
    where c.user_id = #{userId}
  </select>

  <select id="selectCart" resultMap="cartResult" parameterType="Cart" >
    <include refid="selectCartVo" />
    where user_id = #{userId}
    AND goods_id = #{goodsId}
  </select>

  <delete id="deleteByCart" parameterType="Cart" >
    delete from cart
    where goods_id = #{goodsId}
  </delete>

  <insert id="insertCart" parameterType="Cart" >
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null and userId != '' " >
        user_id,
      </if>
      <if test="goodsId != null and goodsId != '' " >
        goods_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="count != null" >
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null and userId != '' " >
        #{userId},
      </if>
      <if test="goodsId != null and goodsId != '' " >
        #{goodsId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="count != null" >
        #{count},
      </if>
    </trim>
  </insert>

  <update id="updateByCart" parameterType="Cart" >
    update cart
    <set >
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="count != null" >
        `count` = #{count},
      </if>
    </set>
    where user_id = #{userId}
      and goods_id = #{goodsId}
  </update>

</mapper>
