<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.dbon.blackandwhite.mapper.CartMapper" >
  <resultMap id="cartResult" type="Cart" >
    <result column="user_id" property="userId" />
    <result column="goods_id" property="goodsId" />
    <result column="update_time" property="updateTime" />
    <result column="count" property="count" />
  </resultMap>

  <sql id="selectCartVo" >
    SELECT user_id, goods_id, update_time, `count` FROM cart
  </sql>

  <select id="selectByUser" resultMap="cartResult" parameterType="String" >
    <include refid="selectCartVo" />
    where user_id = #{userId}
  </select>

  <select id="selectCart" resultMap="cartResult" parameterType="Cart" >
    <include refid="selectCartVo" />
    where user_id = #{userId}
    AND goods_id = #{goodsId}
  </select>

  <delete id="deleteByCart" parameterType="Cart" >
    delete from cart
    where goods_id = #{goodsId}
  </delete>

  <insert id="insertCart" parameterType="Cart" >
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null and userId != '' " >
        user_id,
      </if>
      <if test="goodsId != null and goodsId != '' " >
        goods_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="count != null" >
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null and userId != '' " >
        #{userId},
      </if>
      <if test="goodsId != null and goodsId != '' " >
        #{goodsId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="count != null" >
        #{count},
      </if>
    </trim>
  </insert>

  <update id="updateByCart" parameterType="Cart" >
    update cart
    <set >
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="count != null" >
        `count` = #{count},
      </if>
    </set>
    where user_id = #{userId}
      and goods_id = #{goodsId}
  </update>

</mapper>
