<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.dbon.blackandwhite.mapper.GoodsMapper" >
  <resultMap id="goodsResult" type="Goods" >
    <result column="goods_id" property="goodsId" />
    <result column="code" property="code"  />
    <result column="name" property="name" />
    <result column="count" property="count"  />
    <result column="price" property="price"  />
    <result column="description" property="description"  />
    <result column="img_id" property="imgId"  />
    <result column="goods_status" property="goodsStatus" />
    <result column="user_id" property="userId"  />
    <result column="create_time" property="createTime"  />
    <result column="update_time" property="updateTime" />
    <result column="create_by" property="createBy"  />
    <result column="update_by" property="updateBy"  />
    <result column="is_delete" property="isDelete" />
  </resultMap>

  <sql id="selectGoodsVo" >
    SELECT
    goods_id, code, `name`, `count`, price, description, img_id, goods_status, user_id, create_time,
    update_time, create_by, update_by, is_delete
    FROM goods
  </sql>

  <select id="selectByGoodsId" resultMap="goodsResult" parameterType="String" >
    select 
    <include refid="selectGoodsVo" />
    from goods
    where goods_id = #{goodsId}
    AND is_delete = "0"
  </select>

  <delete id="deleteByGoodsId" parameterType="String" >
    UPDATE goods
    SET is_delete = "1"
    where goods_id = #{goodsId}
  </delete>

  <insert id="insertGoods" parameterType="Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null and goodsId != '' " >
        goods_id,
      </if>
      <if test="code != null and code != '' " >
        code,
      </if>
      <if test="name != null and name != '' " >
        `name`,
      </if>
      <if test="count != null" >
        `count`,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="description != null and description != '' " >
        description,
      </if>
      <if test="imgId != null and imgId != '' " >
        img_id,
      </if>
      <if test="goodsStatus != null and goodsStatus != '' " >
        goods_status,
      </if>
      <if test="userId != null and userId != '' " >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null and createBy != '' " >
        create_by,
      </if>
      <if test="updateBy != null and updateBy != '' " >
        update_by,
      </if>
      <if test="isDelete != null and isDelete != '' " >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null and goodsId != '' " >
        #{goodsId},
      </if>
      <if test="code != null and code != ''" >
        #{code},
      </if>
      <if test="name != null and name != '' " >
        #{name},
      </if>
      <if test="count != null" >
        #{count},
      </if>
      <if test="price != null" >
        #{price},
      </if>
      <if test="description != null and description != ''" >
        #{description},
      </if>
      <if test="imgId != null and imgId != ''" >
        #{imgId},
      </if>
      <if test="goodsStatus != null and goodsStatus != ''" >
        #{goodsStatus},
      </if>
      <if test="userId != null and userId != ''" >
        #{userId},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="createBy != null and createBy != ''" >
        #{createBy},
      </if>
      <if test="updateBy != null updateBy != ''" >
        #{updateBy},
      </if>
      <if test="isDelete != null isDelete != ''" >
        #{isDelete},
      </if>
    </trim>
  </insert>

  <update id="updateGoods" parameterType="Goods" >
    update goods
    <set >
      <if test="code != null and code != '' " >
        code = #{code},
      </if>
      <if test="name != null and name != '' " >
        name = #{name},
      </if>
      <if test="count != null" >
        count = #{count},
      </if>
      <if test="price != null" >
        price = #{price},
      </if>
      <if test="description != null and description != '' " >
        description = #{description},
      </if>
      <if test="imgId != null and imgId != '' " >
        img_id = #{imgId},
      </if>
      <if test="goodsStatus != null and goodsStatus != '' " >
        goods_status = #{goodsStatus},
      </if>
      <if test="userId != null and userId != '' " >
        user_id = #{userId},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="createBy != null and createBy != '' " >
        create_by = #{createBy},
      </if>
      <if test="updateBy != null and updateBy != '' " >
        update_by = #{updateBy},
      </if>
      <if test="isDelete != null and isDelete != '' " >
        is_delete = #{isDelete},
      </if>
    </set>
    where goods_id = #{goodsId}
  </update>

</mapper>