<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.dbon.blackandwhite.mapper.OrderMapper" >
  <resultMap id="orderResult" type="Order" >
    <result column="order_id" property="orderId" />
    <result column="code" property="code"  />
    <result column="goods_id" property="goodsId"  />
    <result column="seller_id" property="sellerId"  />
    <result column="buyer_id" property="buyerId" />
    <result column="create_time" property="createTime"  />
    <result column="update_time" property="updateTime"  />
    <result column="create_by" property="createBy"  />
    <result column="update_by" property="updateBy" />
    <result column="trading_status" property="tradingStatus" />
    <result column="seller_is_show" property="sellerIsShow"  />
    <result column="buyer_is_show" property="buyerIsShow"  />
    <result column="seller_failure_reasons" property="sellerFailureReasons"  />
    <result column="buyer_failure_reasons" property="buyerFailureReasons"  />
  </resultMap>

  <sql id="selectOrderVo" >
    SELECT
    order_id, code, goods_id, seller_id, buyer_id, create_time, update_time, create_by,
    update_by, trading_status, seller_is_show, buyer_is_show, seller_failure_reasons,
    buyer_failure_reasons
    FROM `order`
  </sql>

  <select id="selectByOrderId" resultMap="orderResult" parameterType="String" >
    <include refid="selectOrderVo" />
    where order_id = #{orderId}
  </select>

  <select id="selectByOrderCode" resultMap="orderResult" parameterType="String" >
    <include refid="selectOrderVo" />
    where code = #{orderCode}
  </select>

  <select id="selectBuyListByUser" resultMap="orderResult" parameterType="User" >
    <include refid="selectOrderVo" />
    where buyer_id = #{userId}
  </select>

  <select id="selectSellListByUser" resultMap="orderResult" parameterType="User" >
    <include refid="selectOrderVo" />
    where seller_id = #{userId}
  </select>

  <delete id="deleteByOrderId" parameterType="String" >
    delete from `order`
    where order_id = #{orderId}
  </delete>

  <insert id="insertOrder" parameterType="Order" >
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="tradingStatus != null" >
        trading_status,
      </if>
      <if test="sellerIsShow != null" >
        seller_is_show,
      </if>
      <if test="buyerIsShow != null" >
        buyer_is_show,
      </if>
      <if test="sellerFailureReasons != null" >
        seller_failure_reasons,
      </if>
      <if test="buyerFailureReasons != null" >
        buyer_failure_reasons,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId},
      </if>
      <if test="code != null" >
        #{code},
      </if>
      <if test="goodsId != null" >
        #{goodsId},
      </if>
      <if test="sellerId != null" >
        #{sellerId},
      </if>
      <if test="buyerId != null" >
        #{buyerId},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="createBy != null" >
        #{createBy},
      </if>
      <if test="updateBy != null" >
        #{updateBy},
      </if>
      <if test="tradingStatus != null" >
        #{tradingStatus},
      </if>
      <if test="sellerIsShow != null" >
        #{sellerIsShow},
      </if>
      <if test="buyerIsShow != null" >
        #{buyerIsShow},
      </if>
      <if test="sellerFailureReasons != null" >
        #{sellerFailureReasons},
      </if>
      <if test="buyerFailureReasons != null" >
        #{buyerFailureReasons},
      </if>
    </trim>
  </insert>

  <update id="updateOrder" parameterType="Order" >
    update `order`
    <set >
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy},
      </if>
      <if test="tradingStatus != null" >
        trading_status = #{tradingStatus},
      </if>
      <if test="sellerIsShow != null" >
        seller_is_show = #{sellerIsShow},
      </if>
      <if test="buyerIsShow != null" >
        buyer_is_show = #{buyerIsShow},
      </if>
      <if test="sellerFailureReasons != null" >
        seller_failure_reasons = #{sellerFailureReasons},
      </if>
      <if test="buyerFailureReasons != null" >
        buyer_failure_reasons = #{buyerFailureReasons},
      </if>
    </set>
    where order_id = #{orderId}
  </update>

</mapper>
