<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.dbon.blackandwhite.mapper.UserMapper" >
  <resultMap id="userResult" type="top.dbon.blackandwhite.domain.User" >
    <result column="user_id" property="userId"  />
    <result column="nickname" property="nickname"  />
    <result column="username" property="username" />
    <result column="password" property="password"  />
    <result column="school" property="school"  />
    <result column="gender" property="gender"  />
    <result column="create_time" property="createTime"  />
    <result column="update_time" property="updateTime"  />
    <result column="create_by" property="createBy"  />
    <result column="update_by" property="updateBy"/>
    <result column="submit_audit" property="submitAudit"  />
    <result column="audit_status" property="auditStatus" />
    <result column="avatar" property="avatar" />
    <result column="name" property="name"  />
    <result column="stu_id" property="stuId" />
    <result column="idcard_img" property="idcardImg" />
    <result column="idcard_cover_img" property="idcardCoverImg"  />
    <result column="phone" property="phone" />
    <result column="email" property="email"  />
    <result column="auth_code" property="authCode" />
    <result column="role_set" property="roleSet"  />
    <result column="is_delete" property="isDelete"  />
    <result column="login_time" property="loginTime"  />
  </resultMap>

  <sql id="selectUserVo" >
    SELECT
    user_id, nickname, username, password, school, gender, create_time, update_time, 
    create_by, update_by, submit_audit, audit_status, avatar, `name`, stu_id, idcard_img,
    idcard_cover_img, phone, email, auth_code, role_set, is_delete, login_time
    FROM user
  </sql>

  <select id="selectByUserId" resultMap="userResult" parameterType="String" >
    select 
    <include refid="selectUserVo" />
    from user
    where user_id = #{userId}
    AND is_delete = "0"
  </select>

  <delete id="deleteByUserId" parameterType="String" >
    UPDATE USER
    SET is_delete = "1"
    where user_id = #{userId}
  </delete>

  <insert id="insertUser" parameterType="User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="submitAudit != null" >
        submit_audit,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="idcardImg != null" >
        idcard_img,
      </if>
      <if test="idcardCoverImg != null" >
        idcard_cover_img,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="authCode != null" >
        auth_code,
      </if>
      <if test="roleSet != null" >
        role_set,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="nickname != null" >
        #{nickname},
      </if>
      <if test="username != null" >
        #{username},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="school != null" >
        #{school},
      </if>
      <if test="gender != null" >
        #{gender},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="createBy != null" >
        #{createBy},
      </if>
      <if test="updateBy != null" >
        #{updateBy},
      </if>
      <if test="submitAudit != null" >
        #{submitAudit},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus},
      </if>
      <if test="avatar != null" >
        #{avatar},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="stuId != null" >
        #{stuId},
      </if>
      <if test="idcardImg != null" >
        #{idcardImg},
      </if>
      <if test="idcardCoverImg != null" >
        #{idcardCoverImg},
      </if>
      <if test="phone != null" >
        #{phone},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="authCode != null" >
        #{authCode},
      </if>
      <if test="roleSet != null" >
        #{roleSet},
      </if>
      <if test="isDelete != null" >
        #{isDelete},
      </if>
      <if test="loginTime != null" >
        #{loginTime},
      </if>
    </trim>
  </insert>

  <update id="updateUser" parameterType="User" >
    update user
    <set >
      <if test="nickname != null" >
        nickname = #{nickname},
      </if>
      <if test="username != null" >
        username = #{username},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="school != null" >
        school = #{school},
      </if>
      <if test="gender != null" >
        gender = #{gender},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy},
      </if>
      <if test="submitAudit != null" >
        submit_audit = #{submitAudit},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="stuId != null" >
        stu_id = #{stuId},
      </if>
      <if test="idcardImg != null" >
        idcard_img = #{idcardImg},
      </if>
      <if test="idcardCoverImg != null" >
        idcard_cover_img = #{idcardCoverImg},
      </if>
      <if test="phone != null" >
        phone = #{phone},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="authCode != null" >
        auth_code = #{authCode},
      </if>
      <if test="roleSet != null" >
        role_set = #{roleSet},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime},
      </if>
    </set>
    where user_id = #{userId}
  </update>

</mapper>