<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.dbon.blackandwhite.dao.userMapper" >
  <resultMap id="BaseResultMap" type="top.dbon.blackandwhite.domain.User" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="submit_audit" property="submitAudit" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="stu_id" property="stuId" jdbcType="VARCHAR" />
    <result column="idcard_img" property="idcardImg" jdbcType="VARCHAR" />
    <result column="idcard_cover_img" property="idcardCoverImg" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="auth_code" property="authCode" jdbcType="VARCHAR" />
    <result column="role_set" property="roleSet" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, nickname, username, password, school, gender, create_time, update_time, 
    create_by, update_by, submit_audit, audit_status, avatar, name, stu_id, idcard_img, 
    idcard_cover_img, phone, email, auth_code, role_set, is_delete, login_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.dbon.blackandwhite.domain.User" >
    insert into user (user_id, nickname, username, 
      password, school, gender, 
      create_time, update_time, create_by, 
      update_by, submit_audit, audit_status, 
      avatar, name, stu_id, 
      idcard_img, idcard_cover_img, phone, 
      email, auth_code, role_set, 
      is_delete, login_time)
    values (#{userId,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{submitAudit,jdbcType=VARCHAR}, #{auditStatus,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{stuId,jdbcType=VARCHAR}, 
      #{idcardImg,jdbcType=VARCHAR}, #{idcardCoverImg,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{authCode,jdbcType=VARCHAR}, #{roleSet,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=VARCHAR}, #{loginTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="top.dbon.blackandwhite.domain.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="submitAudit != null" >
        submit_audit,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="idcardImg != null" >
        idcard_img,
      </if>
      <if test="idcardCoverImg != null" >
        idcard_cover_img,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="authCode != null" >
        auth_code,
      </if>
      <if test="roleSet != null" >
        role_set,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="submitAudit != null" >
        #{submitAudit,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="idcardImg != null" >
        #{idcardImg,jdbcType=VARCHAR},
      </if>
      <if test="idcardCoverImg != null" >
        #{idcardCoverImg,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="authCode != null" >
        #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="roleSet != null" >
        #{roleSet,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.dbon.blackandwhite.domain.User" >
    update user
    <set >
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="submitAudit != null" >
        submit_audit = #{submitAudit,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="idcardImg != null" >
        idcard_img = #{idcardImg,jdbcType=VARCHAR},
      </if>
      <if test="idcardCoverImg != null" >
        idcard_cover_img = #{idcardCoverImg,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="authCode != null" >
        auth_code = #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="roleSet != null" >
        role_set = #{roleSet,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=DATE},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.dbon.blackandwhite.domain.User" >
    update user
    set nickname = #{nickname,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      submit_audit = #{submitAudit,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      stu_id = #{stuId,jdbcType=VARCHAR},
      idcard_img = #{idcardImg,jdbcType=VARCHAR},
      idcard_cover_img = #{idcardCoverImg,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      auth_code = #{authCode,jdbcType=VARCHAR},
      role_set = #{roleSet,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=DATE}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>